.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* CSS Custom Properties */
:root {
  --white:rgb(204, 204, 228);
 
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --orange: #F67F00;
  --text-light: #968c84;
  --text-dark: #0a076488;


  
   
  
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 80px;/*because of fixed navbar*/
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6161AC;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(227,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%236161AC'/%3E%3Cstop offset='1' stop-color='%2390AEE0'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(187,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23644CB9' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23644CB9' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(13,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23644CB9' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23644CB9' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.46'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  /* padding: 2vmin; */
  height: 100vh;
}










@media screen and (max-width : 819px) {
 body{ 
  padding-top: 120px;
  /* min-width: 100%; */
 }

 .navBar{
  flex-direction: column;
  align-items: center;
 
 }
}

@media screen and (max-width : 402px) {
  body{ 
   padding-top: 150px;
  }
 }

 /* @media screen and (max-width : 1233px) {
  .prices{ 
    flex-wrap: wrap;
    justify-content: center;
   
  }
 } */









a{
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0; 
}

#root {
  height: 100%;
}

/*NAVBAR*/
.navBar{
  padding: 5px 40px;
  font-weight: bold;
  display: flex;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: rgb(204, 204, 228)  
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.nav-links>li {
  padding: 0px .75rem;
  white-space: nowrap;
}

.navbar-brand, .navbar-text{
  color:#0a076488
}

.navbar-text:hover, .navbar-brand:hover{
  color:whitesmoke;
}

.brand-img{
  margin-bottom: 10px;
  margin-right: 10px;
}






/*BUTTONS*/
.create-btn{
  color:white;
  background-color: #5e3389;
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 140px;
  font-size: large;
  font-weight: 600;
}

.create-btn:hover{
  background-color: #dd7dbe;
}

.create-btn:active{ 
  background-color: #d5afc9;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.btn-add{
  color:white;
  background-color: #5e3389;
  border: none;
  border-radius: 10px;
  height: 35px;
  width: 140px;
  font-size: large;
  font-weight: 600;

  margin-top:10px
}





/*HOMEPAGE*/

.homepageContainer{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.directions{
  color: #e6e6f2f3;
  font-weight: bolder;
  font-size: large;
}
.directions>a{
  color: rgb(243, 234, 218);
  text-decoration:underline
}


.ad{

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(94, 87, 87, 0.3) 0px 18px 36px -18px inset;
  width: 25vw;
  
  border-radius: 15px;
  padding: 10px;

  background-color: #c4c1ee;
/* 
  position:absolute;
  left:50%;
  top:30%;
  transform: translate(-50%,-50%); */
}

.homePic{
  height:70vh;
  width: 98vw;
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}














/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* .align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}
*/

.form-container {
  margin-top: 70vh;
  position:absolute;
  left:50%;

  transform: translate(-50%,-50%);

  width: 60vw;
  padding: 3vmin;
  background-color: var(--white);
  /* border: .1vmin solid var(--tan-3);*/
  border-radius: 1vmin; 

}


  /*
p.error-message {
  color: var(--orange);
  text-align: center;
}
*/
form {
  display: flex;
  flex-direction: column;
  color: var(--text-light); 
}

legend{
  font-weight: bold;
  color:#0a076488
}

label {
  font-size: 2vmin;
  color:#0a076488;

  display: flex;
  align-self: center;
}

input {
  padding: 5px;
  font-size: 2vmin;
  border: 1px solid var(--tan-3);
  border-radius: 3px;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;

  display: flex;
  align-self: center;
}

input:focus {
  border-color: var(--orange);
}


textarea {
  width: 100%;
  height: 100px;
  font-size: 2vmin;

  border: .1px solid var(--tan-3);
  border-radius: 3px;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}
textarea:focus {
  border-color: var(--orange);
}

.form-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-title>input{
  width: 90%;
}

.prices{
  width:90%;
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-between;
  margin-left: 3vw;
  margin-bottom: 20px;
}

.small-textarea{
  height: 50px;
}


button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
  width:20vw;
  align-self: center;

  border: none;
  border-radius: 3px;

  background-color: #9277d0;
  color:white;
font-size: large;
font-weight: 600;
} 

.photos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

input[type = "file"]{
  border: none;
}

button[type="submit"]:hover{
  background-color: #dd7dbe;
}

button[type="submit"]:active{ 
  background-color: #d5afc9;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


/*
button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}
*/







.checkr{
  display: flex;
  justify-content: center;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.available{
  position: relative;
  display: inline-block;

}
  

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(117, 117, 117);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--text-dark);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  
}

/* Rounded sliders */
/* .slider.round {
 
} */


